.nb-tc{
  text-align: center;
}
.nb-tr{
  text-align: right;
}
.nb-tl{
  text-align: left;
}
.nb-ct{
	display: block;
	margin: 0 auto;
}
.nb-cfix::after{	
	content: "";
	display: table;
	clear: both;
}
